<app-modal [title]="'New word'">
  <ng-container modal-body>
    <div class="input-group">
      <label class="input-label">Word</label>
      <input
        type="text"
        class="input"
        placeholder="e.g. Ubiquitous"
        [formField]="createWordForm.word"
      />
      @if (createWordForm.word().invalid() && createWordForm.word().touched()) {
        <div class="error">Word is required</div>
      }
    </div>

    <div class="input-group">
      <label class="input-label">Translation</label>
      <input
        type="text"
        class="input"
        placeholder="e.g. Вездесущий"
        [formField]="createWordForm.translation"
      />
      @if (createWordForm.translation().invalid() && createWordForm.translation().touched()) {
        <div class="error">Translation is required</div>
      }
    </div>

    <div class="input-group">
      <label class="input-label">Example sentence (optional)</label>
      <textarea
        class="input input-example"
        placeholder="Coffee shops are ubiquitous in this city."
        [formField]="createWordForm.example"
        rows="3"
      ></textarea>
    </div>
  </ng-container>

  <ng-container modal-footer>
    <button class="btn btn--secondary" (click)="close()">Cancel</button>
    <button
      class="btn btn--primary"
      (click)="createWord()"
      [disabled]="createWordForm().invalid()"
    >
      Save
    </button>
  </ng-container>
</app-modal>
